.Tags #Tag__input {
  width: 40%;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  margin-top: 1rem;
}

.tags {
  padding: 1rem;
}
.tags button {
  padding: 1rem;
  margin: 0 1rem;
}
